.body_inicio{
  background-image: url("fondoinic.jpg");
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
}

.body_trabajos{
    background-image: url("fondoinic.jpg");
}
.body_sobre_mi{
    background-image: url("fondoinic.jpg");
}
.body_contacto{
    background-image: url("fondoinic.jpg");
}
h1{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3{
  text-align: left;
}
p{ 
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img{
    width: 150;height: 350;
}

 a{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
  form{
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) 
    padding 50;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    opacity: 100%;
    margin: 0;
    align-items: center;
    padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  div.gallery:hover {
    border: 5px solid #0c0d30;
    transform: rotate(-1deg);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .nav{
    text-align: left;
  }
  .registrarte{
    text-decoration: underline;
    font-size: larger;
    font-style: oblique;
  }

.logosobre_mi{
  height: 100;
  width: 100;
}

li{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

hr{
  color: rgb(0, 0, 0);
}

h3{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

h4{
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif ;
  color: #ffffff;
}

#cuadrado  {
  width: 100px;
  height: 100px;
  background:#6f72ae;
  animation-name: animacion;
  animation-duration: 5s;
  animation-delay: 2s;
  position: relative;
  animation-direction: reverse;
  animation-timing-function: ease ;
  animation-iteration-count: infinite;
}

@keyframes animacion {
  0%{background-color:#0c0d30;left: 0px;top: 0px;}
  25%{background-color:#151751;left: 300px;top: 0px;}
  50%{background-color:#2a2d6f;left: 300px;top: 300px;}
  75%{background-color:#454993;left: 0px;top: 300px;}
  100%{background-color:#6f72ae;left: 0px;top: 0px;}

}

.colum {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px){
  .colum{
    width: 100%;
  }
}



* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header {
  background-color: #000000;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 50%;
}

.fotlog{
  height: 60px;
  justify-content: center;
  margin-top: 9px;
  opacity: 100%;
  border-radius: 20%;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}


